<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/elements_style.css" />
    <script id ="main_script" src="/js/model/main.js"></script>
    <audio id="my_audio" loop>
      <source src="/static/sounds/main_menu_background_music.mp3" type="audio/mpeg" id="screens_background_music">
    </audio>
  </head>
  <body>
    <canvas id="main_canvas" class="not_touchable" width="1000px" height="600px"></canvas>
  </body>

  <div id="background_image"></div>
  <div id="lives"></div>
</html>
