body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;
}

#button_container{
    background-color: transparent;
    border: none;
}